* {
    margin: 0;
    padding: 0;
}


:root {
    --bg-principal: #ccc4c4a2;
    --bg-contaienr: #f0f0f000;
    --bg-img: url(./assets/gifs/bg-planets.gif);

    --color-header: #D1F8EF;
    --color-titulo:#A1E3F9 ;
    --color-subtitulo: #578FCA ; 
    --color-texto: #D1F8EF;

    --fonte-principal: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    --fonte-secundaria: 'Courier New', Courier, monospace;


}


body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    background-image: var(--bg-img);
    background-size: 100% 100%; /* A imagem vai se esticar para cobrir tanto a largura quanto a altura */
    background-repeat: no-repeat;
    background-position: center; /* Centraliza a imagem */
    width: 100%;
    height: 100%;
    z-index: -1;
}

body {
    margin: .5% 20%;
    background-color: var(--bg-principal);
    color: var(--color-texto);
}



.header {
    display: flex;
}

.header__title {
    font-family: var(--fonte-principal);
    font-weight: 900;
    color: var(--color-header)

}

.header__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0%;
}

.header__links {
    width: 30%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 20%;
}

.header__link {
    text-decoration: none;
    color: var(--color-header);

}

.container {
    padding: 5%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container__title {
    text-align: center;
    font-family: var(--fonte-principal);
    color: var(--color-titulo);
    margin-bottom: 5%;
}


.container__sections {
    display: flex;
    flex-direction: column;
}

.container__section {
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 2% 5%;
    background-color: var(--bg-contaienr);

}

.container__subtitle {
    font-family: var(--fonte-secundaria);
    color: var(--color-subtitulo)
}


.container__list {
    padding: 5% 10%;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.container__item {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container__link {
    text-decoration: none;
    color: var(--color-texto);
    width: 100%;
}

.container__link:hover {
    padding: 10px;
    background-color: var(--bg-principal);
    text-align: center;
    width: 100%;
}


.container__nestedList {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.container__nestedItem {
    padding: .5% 10%;
    list-style: none;
    display: flex;
}



@media (max-width: 800px) {
   
    .container {
        padding: 30% 0%;
    }



}